{% extends 'users/base/base_users.html' %}

{% load static %}

{% block title %}
Instagram
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
<main class="SCxLW  o64aR " role="main">
   <div class="            qF0y9          Igw0E   rBNOH          YBx95   ybXk5   vwCYk              MGky5                                                              i0EQd                                   " style="min-height: 100%;">
      <div class="rgFsT   ">
         <div class="gr27e  ">
            <h1 class="NXVPg Szr5J  coreSpriteLoggedOutWordmark  "></h1>
            <div class="P8adC">
               <form class="XFYOY" method="post">
               {% csrf_token %}
                  <h2 class="vvzhL ">Зарегистрируйтесь, чтобы смотреть фото и видео ваших друзей.</h2>
                  <div class="            qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm    bkEs3                          CovQj                  jKUp7          DhRcB                                                    "><button class="sqdOP  L3NKy   y3zKF     " type="button"><span class="fa fa-facebook coreSpriteFacebookIconInverted cneKx"></span>Войти через Facebook</button></div>
                  <div class="K-1uj hKTMS">
                     <div class="s311c"></div>
                     <div class="_0tv-g">или</div>
                     <div class="s311c"></div>
                  </div>
                  <div class="WZdjL">
                     <div class="_9GP1n   ">
                        <label class="f0n8F "><span class="_9nyy2">Моб. телефон или эл. адрес</span><input aria-label="Моб. телефон или эл. адрес" required aria-required="true" autocapitalize="off" autocomplete="tel" autocorrect="off" name="email_or_phone" type="text" class="_2hvTZ pexuQ zyHYP" value=""></label>
                        <div class="i24fI"></div>
                     </div>
                  </div>
                  <div class="WZdjL">
                     <div class="_9GP1n   ">
                        <label class="f0n8F "><span class="_9nyy2">Имя и фамилия</span><input aria-label="Имя и фамилия" aria-required="false" required autocapitalize="sentences" autocorrect="off" name="fullname" type="text" class="_2hvTZ pexuQ zyHYP" value=""></label>
                        <div class="i24fI"></div>
                     </div>
                  </div>
                  <div class="WZdjL">
                     <div class="_9GP1n   ">
                        <label class="f0n8F "><span class="_9nyy2">Имя пользователя</span><input aria-label="Имя пользователя" required aria-required="true" autocapitalize="off" autocorrect="off" maxlength="30" name="username" type="text" class="_2hvTZ pexuQ zyHYP" value=""></label>
                        <div class="i24fI"></div>
                     </div>
                  </div>
                  <div class="WZdjL">
                     <div class="_9GP1n   ">
                        <label class="f0n8F "><span class="_9nyy2">Пароль</span><input aria-label="Пароль" aria-required="true" required autocapitalize="off" autocomplete="new-password" autocorrect="off" name="password" type="password" class="_2hvTZ pexuQ zyHYP" value=""></label>
                        <div class="i24fI"></div>
                     </div>
                  </div>

                 {% comment %} {% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %} 
              <div class="alert alert-danger">
                   <strong>{{ error|escape }}</strong>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %} {% endcomment %}
                  <div>
                     <div class="            qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm    bkEs3                          CovQj                  jKUp7          DhRcB                                                    "><button class="sqdOP  L3NKy   y3zKF     "  type="submit">Регистрация</button></div>
                  </div>
                  <p class="ZGwn1">Регистрируясь, вы принимаете наши <a href="https://help.instagram.com/581066165581870" tabindex="0" target="_blank">Условия</a>, <a href="https://help.instagram.com/519522125107875" tabindex="0" target="_blank">Политику использования данных</a> и <a href="/legal/cookies/" tabindex="0" target="_blank">Политику в отношении файлов cookie</a>.</p>
               </form>
            </div>
         </div>
         <div class="gr27e">
            <p class="izU2O ">Есть аккаунт? <a href="/accounts/login/?source=auth_switcher" tabindex="0">Вход</a></p>
         </div>
      </div>
   </div>
</main>
{% endblock %}

{% block scripts %}
{% comment %} <script src="{% static 'js/users.js' %}"></script>  {% endcomment %}
{% endblock %}
