{% extends 'main/base/__base__.html' %}
{% load static %}
{% load user_tags %}
<!-- {% load humanize %} -->
<!-- {% load custom_tags %} -->
<!-- {% load emoji_tags %} -->


    {% block title %}
    search
    {% endblock %}
    
    {%  block styles %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}"> 
    {% endblock %}


{% block content %}

<div class="fixed-search">
    <label class="NcCcD"><input autocapitalize="none" onfocus="myFunctionSearch(this)" id="input-btn" class="notactive"  autocomplete="off" placeholder="Поиск" spellcheck="true" type="search" value=""></label>
</div>
        <div id="myDropdownSearch" class="dropdown-content-search">
            <button class="close-search" onclick="myFunctionSearchClose()">Отмена</button>

            <div class="searches">
                <div class="result-search">
                    <a href="#" class="user-result-search">
                        <div class="img-user-result-search">
                            <img src="https://pic.rutube.ru/video/74/07/74076167f0cb475ad98e646f7dd907d5.jpg" alt="">
                        </div>
                        <div class="name-user-result-search">
                            <div class="nick-name-user-result-search nowrap">asdasd</div>
                            <div class="name-name-user-result-search nowrap">asdasdas</div>
                        </div>
                    </a>
                    <a href="#" class="user-result-search">
                        <div class="img-user-result-search">
                            <img src="https://pic.rutube.ru/video/74/07/74076167f0cb475ad98e646f7dd907d5.jpg" alt="">
                        </div>
                        <div class="name-user-result-search">
                            <div class="nick-name-user-result-search nowrap">asdasd</div>
                            <div class="name-name-user-result-search nowrap">asdasdas</div>
                        </div>
                    </a>
                    <a href="#" class="user-result-search">
                        <div class="img-user-result-search">
                            <img src="https://pic.rutube.ru/video/74/07/74076167f0cb475ad98e646f7dd907d5.jpg" alt="">
                        </div>
                        <div class="name-user-result-search">
                            <div class="nick-name-user-result-search nowrap">asdasd</div>
                            <div class="name-name-user-result-search nowrap">asdasdas</div>
                        </div>
                    </a>
                    <a href="#" class="user-result-search">
                        <div class="img-user-result-search">
                            <img src="https://pic.rutube.ru/video/74/07/74076167f0cb475ad98e646f7dd907d5.jpg" alt="">
                        </div>
                        <div class="name-user-result-search">
                            <div class="nick-name-user-result-search nowrap">asdasd</div>
                            <div class="name-name-user-result-search nowrap">asdasdas</div>
                        </div>
                    </a>
                    <a href="#" class="user-result-search">
                        <div class="img-user-result-search">
                            <img src="https://pic.rutube.ru/video/74/07/74076167f0cb475ad98e646f7dd907d5.jpg" alt="">
                        </div>
                        <div class="name-user-result-search">
                            <div class="nick-name-user-result-search nowrap">asdasd</div>
                            <div class="name-name-user-result-search nowrap">asdasdas</div>
                        </div>
                    </a>
                    <a href="#" class="user-result-search hashtag">
                        <div class="img-user-result-search">
                            <svg aria-label="Хэштег" class="_8-yf5 " color="#262626" fill="#262626" height="16" role="img" viewBox="0 0 24 24" width="16"><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="4.728" x2="20.635" y1="7.915" y2="7.915"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="3.364" x2="19.272" y1="15.186" y2="15.186"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="17.009" x2="13.368" y1="2" y2="22"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="10.64" x2="7" y1="2" y2="22"></line></svg>
                        </div>
                        <div class="hashtag-result-search">
                            <div class="name-hashtag-result-search nowrap">#instagram</div>
                            <div class="quantity-hashtag-result-search nowrap">2 публикации</div>
                        </div>
                    </a>
                    <a href="#" class="user-result-search">
                        <div class="img-user-result-search">
                            <img src="https://pic.rutube.ru/video/74/07/74076167f0cb475ad98e646f7dd907d5.jpg" alt="">
                        </div>
                        <div class="name-user-result-search">
                            <div class="nick-name-user-result-search nowrap">asdasd</div>
                            <div class="name-name-user-result-search nowrap">asdasdas</div>
                        </div>
                    </a>
                    <a href="#" class="user-result-search">
                        <div class="img-user-result-search">
                            <img src="https://pic.rutube.ru/video/74/07/74076167f0cb475ad98e646f7dd907d5.jpg" alt="">
                        </div>
                        <div class="name-user-result-search">
                            <div class="nick-name-user-result-search nowrap">asdasd</div>
                            <div class="name-name-user-result-search nowrap">asdasdas</div>
                        </div>
                    </a>
                    <a href="#" class="user-result-search">
                        <div class="img-user-result-search">
                            <img src="https://pic.rutube.ru/video/74/07/74076167f0cb475ad98e646f7dd907d5.jpg" alt="">
                        </div>
                        <div class="name-user-result-search">
                            <div class="nick-name-user-result-search nowrap">asdasd</div>
                            <div class="name-name-user-result-search nowrap">asdasdas</div>
                        </div>
                    </a>
                    <a href="#" class="user-result-search">
                        <div class="img-user-result-search">
                            <img src="https://pic.rutube.ru/video/74/07/74076167f0cb475ad98e646f7dd907d5.jpg" alt="">
                        </div>
                        <div class="name-user-result-search">
                            <div class="nick-name-user-result-search nowrap">asdasd</div>
                            <div class="name-name-user-result-search nowrap">asdasdas</div>
                        </div>
                    </a>
                    <a href="#" class="user-result-search">
                        <div class="img-user-result-search">
                            <img src="https://pic.rutube.ru/video/74/07/74076167f0cb475ad98e646f7dd907d5.jpg" alt="">
                        </div>
                        <div class="name-user-result-search">
                            <div class="nick-name-user-result-search nowrap">asdasd</div>
                            <div class="name-name-user-result-search nowrap">asdasdas</div>
                        </div>
                    </a>
                    <a href="#" class="user-result-search hashtag">
                        <div class="img-user-result-search">
                            <svg aria-label="Хэштег" class="_8-yf5 " color="#262626" fill="#262626" height="16" role="img" viewBox="0 0 24 24" width="16"><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="4.728" x2="20.635" y1="7.915" y2="7.915"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="3.364" x2="19.272" y1="15.186" y2="15.186"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="17.009" x2="13.368" y1="2" y2="22"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="10.64" x2="7" y1="2" y2="22"></line></svg>
                        </div>
                        <div class="hashtag-result-search">
                            <div class="name-hashtag-result-search nowrap">#instagram</div>
                            <div class="quantity-hashtag-result-search nowrap">2 публикации</div>
                        </div>
                    </a>

                </div>
            </div>
        </div>

<main>
    <div class="search-grid">
        <div class="block-one-grid">
            {% for post in posts %}
            <a href="{{ post.get_absolute_url }}" class="grid-link">
                <div class="hover-box">
                    <div class="hover-likes hover-btns">
                        <svg fill="#fff" height="19" role="img" viewBox="0 0 48 48" width="19"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                        <span class="number-of-likes hover-btns">{{ post.total_likes }}</span>
                    </div>
                    <div class="hover-comments hover-btns">
                        <svg fill="#fff" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z"></path></svg>
                        <span class="number-of-comments hover-btns">{{ post.comments.count }}</span>
                    </div>
                </div>
                {% if post.images.count > 1%}
                <div class="BcNgP">
                    <svg aria-label="Кольцевая галерея" color="#ffffff" fill="#ffffff" height="28" role="img" viewBox="0 0 48 48" width="28"><path d="M34.8 29.7V11c0-2.9-2.3-5.2-5.2-5.2H11c-2.9 0-5.2 2.3-5.2 5.2v18.7c0 2.9 2.3 5.2 5.2 5.2h18.7c2.8-.1 5.1-2.4 5.1-5.2zM39.2 15v16.1c0 4.5-3.7 8.2-8.2 8.2H14.9c-.6 0-.9.7-.5 1.1 1 1.1 2.4 1.8 4.1 1.8h13.4c5.7 0 10.3-4.6 10.3-10.3V18.5c0-1.6-.7-3.1-1.8-4.1-.5-.4-1.2 0-1.2.6z"></path></svg>
                </div>
                {% endif %}
				{% with post.images.all|first as preview_image %}
                <div class="search-img">
                    <img src="{{ preview_image.image.url }}" alt="">
                </div>
                {% endwith %}
            </a>
            {% endfor %}
            <!-- <a href="" class="grid-link">
                <div class="hover-box">
                    <div class="hover-likes hover-btns">
                        <svg fill="#fff" height="19" role="img" viewBox="0 0 48 48" width="19"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                        <span class="number-of-likes hover-btns">1 123</span>
                    </div>
                    <div class="hover-comments hover-btns">
                        <svg fill="#fff" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z"></path></svg>
                        <span class="number-of-comments hover-btns">1 213</span>
                    </div>
                </div>
                <div class="BcNgP">
                    <svg aria-label="Кольцевая галерея" color="#ffffff" fill="#ffffff" height="28" role="img" viewBox="0 0 48 48" width="28"><path d="M34.8 29.7V11c0-2.9-2.3-5.2-5.2-5.2H11c-2.9 0-5.2 2.3-5.2 5.2v18.7c0 2.9 2.3 5.2 5.2 5.2h18.7c2.8-.1 5.1-2.4 5.1-5.2zM39.2 15v16.1c0 4.5-3.7 8.2-8.2 8.2H14.9c-.6 0-.9.7-.5 1.1 1 1.1 2.4 1.8 4.1 1.8h13.4c5.7 0 10.3-4.6 10.3-10.3V18.5c0-1.6-.7-3.1-1.8-4.1-.5-.4-1.2 0-1.2.6z"></path></svg>
                </div>
                <div class="search-img">
                    <img src="https://avatars.mds.yandex.net/i?id=bec136f5cc5545c242707298719c3717-4373855-images-thumbs&n=13" alt="">
                </div>
            </a>
            <a href="" class="grid-link">
                <div class="hover-box">
                    <div class="hover-likes hover-btns">
                        <svg fill="#fff" height="19" role="img" viewBox="0 0 48 48" width="19"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                        <span class="number-of-likes hover-btns">1 123</span>
                    </div>
                    <div class="hover-comments hover-btns">
                        <svg fill="#fff" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z"></path></svg>
                        <span class="number-of-comments hover-btns">1 213</span>
                    </div>
                </div>
                <div class="search-img">
                    <img src="https://avatars.mds.yandex.net/i?id=bec136f5cc5545c242707298719c3717-4373855-images-thumbs&n=13" alt="">
                </div>
            </a>
            <a href="" class="grid-link">
                <div class="hover-box">
                    <div class="hover-likes hover-btns">
                        <svg fill="#fff" height="19" role="img" viewBox="0 0 48 48" width="19"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                        <span class="number-of-likes hover-btns">1 123</span>
                    </div>
                    <div class="hover-comments hover-btns">
                        <svg fill="#fff" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z"></path></svg>
                        <span class="number-of-comments hover-btns">1 213</span>
                    </div>
                </div>
                <div class="search-img">
                    <img src="https://avatars.mds.yandex.net/i?id=bec136f5cc5545c242707298719c3717-4373855-images-thumbs&n=13" alt="">
                </div>
            </a>
            <a href="" class="grid-link">
                <div class="hover-box">
                    <div class="hover-likes hover-btns">
                        <svg fill="#fff" height="19" role="img" viewBox="0 0 48 48" width="19"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                        <span class="number-of-likes hover-btns">1 123</span>
                    </div>
                    <div class="hover-comments hover-btns">
                        <svg fill="#fff" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z"></path></svg>
                        <span class="number-of-comments hover-btns">1 213</span>
                    </div>
                </div>
                <div class="search-img">
                    <img src="https://avatars.mds.yandex.net/i?id=bec136f5cc5545c242707298719c3717-4373855-images-thumbs&n=13" alt="">
                </div>
            </a>
            <a href="" class="grid-link">
                <div class="hover-box">
                    <div class="hover-likes hover-btns">
                        <svg fill="#fff" height="19" role="img" viewBox="0 0 48 48" width="19"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                        <span class="number-of-likes hover-btns">1 123</span>
                    </div>
                    <div class="hover-comments hover-btns">
                        <svg fill="#fff" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z"></path></svg>
                        <span class="number-of-comments hover-btns">1 213</span>
                    </div>
                </div>
                <div class="search-img">
                    <img src="https://avatars.mds.yandex.net/i?id=bec136f5cc5545c242707298719c3717-4373855-images-thumbs&n=13" alt="">
                </div>
            </a>
            <a href="" class="grid-link">
                <div class="hover-box">
                    <div class="hover-likes hover-btns">
                        <svg fill="#fff" height="19" role="img" viewBox="0 0 48 48" width="19"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                        <span class="number-of-likes hover-btns">1 123</span>
                    </div>
                    <div class="hover-comments hover-btns">
                        <svg fill="#fff" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z"></path></svg>
                        <span class="number-of-comments hover-btns">1 213</span>
                    </div>
                </div>
                <div class="search-img">
                    <img src="https://avatars.mds.yandex.net/i?id=bec136f5cc5545c242707298719c3717-4373855-images-thumbs&n=13" alt="">
                </div>
            </a>
            <a href="" class="grid-link">
                <div class="hover-box">
                    <div class="hover-likes hover-btns">
                        <svg fill="#fff" height="19" role="img" viewBox="0 0 48 48" width="19"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                        <span class="number-of-likes hover-btns">1 123</span>
                    </div>
                    <div class="hover-comments hover-btns">
                        <svg fill="#fff" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z"></path></svg>
                        <span class="number-of-comments hover-btns">1 213</span>
                    </div>
                </div>
                <div class="search-img">
                    <img src="https://avatars.mds.yandex.net/i?id=bec136f5cc5545c242707298719c3717-4373855-images-thumbs&n=13" alt="">
                </div>
            </a>
            <a href="" class="grid-link">
                <div class="hover-box">
                    <div class="hover-likes hover-btns">
                        <svg fill="#fff" height="19" role="img" viewBox="0 0 48 48" width="19"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                        <span class="number-of-likes hover-btns">1 123</span>
                    </div>
                    <div class="hover-comments hover-btns">
                        <svg fill="#fff" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z"></path></svg>
                        <span class="number-of-comments hover-btns">1 213</span>
                    </div>
                </div>
                <div class="search-img">
                    <img src="https://avatars.mds.yandex.net/i?id=bec136f5cc5545c242707298719c3717-4373855-images-thumbs&n=13" alt="">
                </div>
            </a> -->
        </div>
        <!-- <div class="block-two-grid">
            <a href="" class="grid-link">
                <div class="hover-box">
                    <div class="hover-likes hover-btns">
                        <svg fill="#fff" height="19" role="img" viewBox="0 0 48 48" width="19"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                        <span class="number-of-likes hover-btns">1 123</span>
                    </div>
                    <div class="hover-comments hover-btns">
                        <svg fill="#fff" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z"></path></svg>
                        <span class="number-of-comments hover-btns">1 213</span>
                    </div>
                </div>
                <div class="BcNgP">
                    <svg aria-label="Кольцевая галерея" color="#ffffff" fill="#ffffff" height="28" role="img" viewBox="0 0 48 48" width="28"><path d="M34.8 29.7V11c0-2.9-2.3-5.2-5.2-5.2H11c-2.9 0-5.2 2.3-5.2 5.2v18.7c0 2.9 2.3 5.2 5.2 5.2h18.7c2.8-.1 5.1-2.4 5.1-5.2zM39.2 15v16.1c0 4.5-3.7 8.2-8.2 8.2H14.9c-.6 0-.9.7-.5 1.1 1 1.1 2.4 1.8 4.1 1.8h13.4c5.7 0 10.3-4.6 10.3-10.3V18.5c0-1.6-.7-3.1-1.8-4.1-.5-.4-1.2 0-1.2.6z"></path></svg>
                </div>
                <div class="search-img">
                    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2020-06/24/18/asset/3520e2c918aa/sub-buzz-3186-1593022932-11.jpg?crop=3000:1570;0,215" alt="">
                </div>
            </a>
            <a href="" class="grid-link">
                <div class="hover-box">
                    <div class="hover-likes hover-btns">
                        <svg fill="#fff" height="19" role="img" viewBox="0 0 48 48" width="19"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                        <span class="number-of-likes hover-btns">1 123</span>
                    </div>
                    <div class="hover-comments hover-btns">
                        <svg fill="#fff" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z"></path></svg>
                        <span class="number-of-comments hover-btns">1 213</span>
                    </div>
                </div>
                <div class="search-img">
                    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2020-06/24/18/asset/3520e2c918aa/sub-buzz-3186-1593022932-11.jpg?crop=3000:1570;0,215" alt="">
                </div>
            </a>
            <a href="" class="grid-link">
                <div class="hover-box">
                    <div class="hover-likes hover-btns">
                        <svg fill="#fff" height="19" role="img" viewBox="0 0 48 48" width="19"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                        <span class="number-of-likes hover-btns">1 123</span>
                    </div>
                    <div class="hover-comments hover-btns">
                        <svg fill="#fff" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z"></path></svg>
                        <span class="number-of-comments hover-btns">1 213</span>
                    </div>
                </div>
                <div class="BcNgP">
                    <svg aria-label="Кольцевая галерея" color="#ffffff" fill="#ffffff" height="28" role="img" viewBox="0 0 48 48" width="28"><path d="M34.8 29.7V11c0-2.9-2.3-5.2-5.2-5.2H11c-2.9 0-5.2 2.3-5.2 5.2v18.7c0 2.9 2.3 5.2 5.2 5.2h18.7c2.8-.1 5.1-2.4 5.1-5.2zM39.2 15v16.1c0 4.5-3.7 8.2-8.2 8.2H14.9c-.6 0-.9.7-.5 1.1 1 1.1 2.4 1.8 4.1 1.8h13.4c5.7 0 10.3-4.6 10.3-10.3V18.5c0-1.6-.7-3.1-1.8-4.1-.5-.4-1.2 0-1.2.6z"></path></svg>
                </div>
                <div class="search-img">
                    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2020-06/24/18/asset/3520e2c918aa/sub-buzz-3186-1593022932-11.jpg?crop=3000:1570;0,215" alt="">
                </div>
            </a>
            <a href="" class="grid-link">
                <div class="hover-box">
                    <div class="hover-likes hover-btns">
                        <svg fill="#fff" height="19" role="img" viewBox="0 0 48 48" width="19"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                        <span class="number-of-likes hover-btns">1 123</span>
                    </div>
                    <div class="hover-comments hover-btns">
                        <svg fill="#fff" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z"></path></svg>
                        <span class="number-of-comments hover-btns">1 213</span>
                    </div>
                </div>
                <div class="search-img">
                    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2020-06/24/18/asset/3520e2c918aa/sub-buzz-3186-1593022932-11.jpg?crop=3000:1570;0,215" alt="">
                </div>
            </a>
            <a href="" class="grid-link">
                <div class="hover-box">
                    <div class="hover-likes hover-btns">
                        <svg fill="#fff" height="19" role="img" viewBox="0 0 48 48" width="19"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                        <span class="number-of-likes hover-btns">1 123</span>
                    </div>
                    <div class="hover-comments hover-btns">
                        <svg fill="#fff" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z"></path></svg>
                        <span class="number-of-comments hover-btns">1 213</span>
                    </div>
                </div>
                <div class="search-img">
                    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2020-06/24/18/asset/3520e2c918aa/sub-buzz-3186-1593022932-11.jpg?crop=3000:1570;0,215" alt="">
                </div>
            </a>
            <a href="" class="grid-link">
                <div class="hover-box">
                    <div class="hover-likes hover-btns">
                        <svg fill="#fff" height="19" role="img" viewBox="0 0 48 48" width="19"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                        <span class="number-of-likes hover-btns">1 123</span>
                    </div>
                    <div class="hover-comments hover-btns">
                        <svg fill="#fff" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z"></path></svg>
                        <span class="number-of-comments hover-btns">1 213</span>
                    </div>
                </div>
                <div class="search-img">
                    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2020-06/24/18/asset/3520e2c918aa/sub-buzz-3186-1593022932-11.jpg?crop=3000:1570;0,215" alt="">
                </div>
            </a>
            <a href="" class="grid-link">
                <div class="hover-box">
                    <div class="hover-likes hover-btns">
                        <svg fill="#fff" height="19" role="img" viewBox="0 0 48 48" width="19"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                        <span class="number-of-likes hover-btns">1 123</span>
                    </div>
                    <div class="hover-comments hover-btns">
                        <svg fill="#fff" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z"></path></svg>
                        <span class="number-of-comments hover-btns">1 213</span>
                    </div>
                </div>
                <div class="search-img">
                    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2020-06/24/18/asset/3520e2c918aa/sub-buzz-3186-1593022932-11.jpg?crop=3000:1570;0,215" alt="">
                </div>
            </a>
            <a href="" class="grid-link">
                <div class="hover-box">
                    <div class="hover-likes hover-btns">
                        <svg fill="#fff" height="19" role="img" viewBox="0 0 48 48" width="19"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                        <span class="number-of-likes hover-btns">1 123</span>
                    </div>
                    <div class="hover-comments hover-btns">
                        <svg fill="#fff" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z"></path></svg>
                        <span class="number-of-comments hover-btns">1 213</span>
                    </div>
                </div>
                <div class="search-img">
                    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2020-06/24/18/asset/3520e2c918aa/sub-buzz-3186-1593022932-11.jpg?crop=3000:1570;0,215" alt="">
                </div>
            </a>
            <a href="" class="grid-link">
                <div class="hover-box">
                    <div class="hover-likes hover-btns">
                        <svg fill="#fff" height="19" role="img" viewBox="0 0 48 48" width="19"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                        <span class="number-of-likes hover-btns">1 123</span>
                    </div>
                    <div class="hover-comments hover-btns">
                        <svg fill="#fff" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z"></path></svg>
                        <span class="number-of-comments hover-btns">1 213</span>
                    </div>
                </div>
                <div class="search-img">
                    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2020-06/24/18/asset/3520e2c918aa/sub-buzz-3186-1593022932-11.jpg?crop=3000:1570;0,215" alt="">
                </div>
            </a>
        </div> -->

    </div>
</main>


<script>
function myFunctionSearch() {
    var myDropdownSearch = document.getElementById("myDropdownSearch");
    var activeSearch = document.querySelector("#input-btn");
    if(!myDropdownSearch.classList.contains("showSearch")){
        myDropdownSearch.classList.toggle("showSearch")
        activeSearch.classList.toggle("activeSearch")
        activeSearch.classList.remove("notactive")
    }
}
function myFunctionSearchClose(){
    var myDropdownSearch = document.getElementById("myDropdownSearch");
    myDropdownSearch.classList.remove("showSearch")
    var activeSearch = document.querySelector("#input-btn");
    activeSearch.classList.remove("activeSearch")
    activeSearch.classList.toggle("notactive")
}

</script>

{% endblock %}

{% block scripts %}

{% endblock %}


{% block csrf_ready %}
{% endblock %}
