{% extends 'main/base/__base__.html' %}
{% load static %}
{% load user_tags %}
<!-- {% load humanize %} -->
<!-- {% load custom_tags %} -->
<!-- {% load emoji_tags %} -->


    {% block title %}
    search
    {% endblock %}
    
    {%  block styles %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}"> 
    {% endblock %}


{% block content %}

<div class="fixed-search">
    <label class="NcCcD"><input autocapitalize="none" data-search-url="{% url 'search' %}" onfocus="myFunctionSearch(this)" id="input-btn-mobile" class="notactive"  autocomplete="off" placeholder="Поиск" spellcheck="true" type="search" value=""></label>
</div>
        <div id="myDropdownSearch" class="dropdown-content-search" style="overflow:scroll;">
            <button class="close-search" onclick="myFunctionSearchClose()">Отмена</button>
            <div id="search_res_mobile">
            {% include 'search/result_mobile.html' %}
            </div>
        </div>

<main>
    <div class="search-grid">
        <div class="block-one-grid">
            {% for post in posts %}
            <a href="{{ post.get_absolute_url }}" class="grid-link">
                <div class="hover-box">
                    <div class="hover-likes hover-btns">
                        <svg fill="#fff" height="19" role="img" viewBox="0 0 48 48" width="19"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                        <span class="number-of-likes hover-btns">{{ post.total_likes }}</span>
                    </div>
                    <div class="hover-comments hover-btns">
                        <svg fill="#fff" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z"></path></svg>
                        <span class="number-of-comments hover-btns">{{ post.comments.count }}</span>
                    </div>
                </div>
                {% if post.images.count > 1%}
                <div class="BcNgP">
                    <svg aria-label="Кольцевая галерея" color="#ffffff" fill="#ffffff" height="28" role="img" viewBox="0 0 48 48" width="28"><path d="M34.8 29.7V11c0-2.9-2.3-5.2-5.2-5.2H11c-2.9 0-5.2 2.3-5.2 5.2v18.7c0 2.9 2.3 5.2 5.2 5.2h18.7c2.8-.1 5.1-2.4 5.1-5.2zM39.2 15v16.1c0 4.5-3.7 8.2-8.2 8.2H14.9c-.6 0-.9.7-.5 1.1 1 1.1 2.4 1.8 4.1 1.8h13.4c5.7 0 10.3-4.6 10.3-10.3V18.5c0-1.6-.7-3.1-1.8-4.1-.5-.4-1.2 0-1.2.6z"></path></svg>
                </div>
                {% endif %}
				{% with post.images.all|first as preview_image %}
                <div class="search-img">
                    <img src="{{ preview_image.image.url }}" alt="">
                </div>
                {% endwith %}
            </a>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script>
function myFunctionSearch() {
    var myDropdownSearch = document.getElementById("myDropdownSearch");
    var activeSearch = document.querySelector("#input-btn-mobile");
    if(!myDropdownSearch.classList.contains("showSearch")){
        myDropdownSearch.classList.toggle("showSearch")
        activeSearch.classList.toggle("activeSearch")
        activeSearch.classList.remove("notactive")
    }
}
function myFunctionSearchClose(){
    var myDropdownSearch = document.getElementById("myDropdownSearch");
    myDropdownSearch.classList.remove("showSearch")
    var activeSearch = document.querySelector("#input-btn-mobile");
    activeSearch.classList.remove("activeSearch")
    activeSearch.classList.toggle("notactive")
}

const user_input = $("#input-btn-mobile")
const users_div = $('#search_res_mobile')
const endpoint_mob = $("#input-btn-mobile").attr('data-search-url')
const delay_by_in_ms_mob = 700
let scheduled_function_mob = false


let ajax_call_mob = function (endpoint_mob, request_parameters_mob) {
    $.getJSON(endpoint_mob, request_parameters_mob)
        .done(response => {
            // check which event is that
            // fade out the users_div, then:
                users_div.fadeTo('slow', 0).promise().then(() => {
                    // replace the HTML contents
                    users_div.html(response['html_from_view'])
                    // fade-in the div with new contents
                    users_div.fadeTo('slow', 1)
                })
        })
}

// mobile search event
user_input.on('keyup', function (event) {
    if (user_input.val().charAt(0)=='#'){
        var request_parameters_mob = {
            q: $(this).val(), // value of user_input: the HTML element with ID user-input
            mobile: true,
            hashtag: true
        }
    }
    else{
        var request_parameters_mob = {
            q: $(this).val(), // value of user_input: the HTML element with ID user-input
            mobile: true
        }
    }

    // if scheduled_function is NOT false, cancel the execution of the function
    if (scheduled_function_mob) {
        clearTimeout(scheduled_function_mob)
    }

    // setTimeout returns the ID of the function to be executed
    scheduled_function_mob = setTimeout(ajax_call_mob, delay_by_in_ms_mob, endpoint_mob, request_parameters_mob)
})
</script>

{% endblock %}


{% block csrf_ready %}
{% endblock %}
