{% extends 'users/base/base_users.html' %}

{% load static %}

{% block title %}
Instagram
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
{% endblock %}

{% block content %}
<main class="SCxLW  o64aR " role="main">
   <div class="_lz6s">
      <div class="MWDvN">
         <div class="oJZym">
            <a href="/" tabindex="0">
               <div class="            qF0y9          Igw0E   rBNOH        eGOV_     ybXk5    _4EzTm                                                                                                              ">
                  <div class="cq2ai"><img alt="Instagram" class="s4Iyt" src="{% static 'img/735145cfe0a4.png' %}" srcset="/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png 2x"></div>
               </div>
            </a>
         </div>
         <div class="ctQZg">
            <div class="ZcHy5"></div>
         </div>
      </div>
   </div>
   <div class="_8qite">
      <div class="AHCwU">
         <div class="            qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm                                                                                                              ">
            <div class="            qF0y9          Igw0E     IwRSH        YBx95      vwCYk                                       CIRqI                  IY_1_                                                      " style="max-width: 388px;">
               <div class="            qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm                                                                                                              ">
                  <div class="            qF0y9          Igw0E   rBNOH        eGOV_         _4EzTm      MGdpg                                                        kEKum                                                "><span class="coreSpriteLockSmall"></span></div>
                  <div class="            qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm      MGdpg                         K7QFQ                  _6wM3Z                                                             ">
                     <h4 class="_7UhW9    vy6Bb      qyrsm KV-D4          uL8Hv     l4b0S    ">Не удается войти?</h4>
                  </div>
                  <div class="            qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm      MGdpg                         K7QFQ                  _6wM3Z                                                             ">
                     <div class="_7UhW9   xLCgt      MMzan   _0PwGv         uL8Hv     l4b0S    ">Введите свой электронный адрес, имя пользователя или номер телефона, и мы отправим вам ссылку для восстановления доступа к аккаунту.</div>
                  </div>
                  <div class="            qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm      MGdpg                         K7QFQ                  _6wM3Z                                                             ">
                     <form method="POST" id="email-submission-form">
                     <label class="-wiOT    RO68f  M5V28" >
                     {% csrf_token %}
                     <input class="j_2Hd  _4eaDf  _8KKY4  RO68f  M5V28" id="f1844466474d42c" name="email" placeholder="Эл. адрес, телефон или имя пользователя">
                     <span class="Oouko "></span></label>
                     <button data-url-target="{% url 'password-reset' %}" id="send-reset-link-button" class="sqdOP  L3NKy   y3zKF     "  type="submit">Получить ссылку для входа</button>
                     </form>
                     <div class="alert alert-danger">
                        <strong></strong>
                     </div>
                       <div class="alert alert-success">
                        <strong></strong>
                     </div>
                     {% if form.errors %}
                     {% for field in form %}
                        {% for error in field.errors %} 
                           <div class="alert alert-danger">
                                 <strong>{{ error|escape }}</strong>
                           </div>
                        {% endfor %}
                     {% endfor %}
                  {% endif %} 
                  </div>
                  <div class="            qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm      MGdpg                         K7QFQ                  _6wM3Z                                                             "></div>
                  <div class="            qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm      MGdpg                         K7QFQ                  _6wM3Z           aGBdT                                                  ">
                     <div class="K-1uj">
                        <div class="s311c"></div>
                        <div class="_0tv-g">или</div>
                        <div class="s311c"></div>
                     </div>
                  </div>
                  <div class="            qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm      MGdpg                         K7QFQ                  _6wM3Z                                                             "><a class="sqdOP yWX7d     _8A5w5   ZIAjV " href="{% url 'sign-up' %}" tabindex="0">Создать новый аккаунт</a></div>
                  <div class="            qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm                                                                         aAhnZ                               O1flK D8xaz    TxciK ">
                     <div class="pV7Qt       tHaIX     qF0y9          Igw0E     IwRSH          J0Xm8     _4EzTm                                                                                                              " style="height: 44px;"><a class="sqdOP yWX7d     _8A5w5   ZIAjV " href="{% url 'sign-in' %}" tabindex="0">Вернуться к входу</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/password_reset.js' %}"></script>
{% endblock %}
