*{box-sizing: border-box; padding: 0; margin: 0;}
main
{
	max-width: 975px;
	width: 100%;
	margin-top: 54px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
}

button{background: unset; border: none; outline: unset; cursor: pointer;}
.gotopost {max-width: 100%;min-width: 80%; max-height: 600px; min-height:500px; margin-left: auto; margin-right: auto;  margin-bottom: 50px; display: flex; position: relative; border: solid 1px #dbdbdb;} 
.post-medias{display: flex;overflow-y: hidden;overflow-x: auto; background: #000; align-items: center; scroll-snap-type: x mandatory; width: 100%;min-height: 100%; scrollbar-width: none;}
.post-medias img{object-fit: cover; flex: none; width: 100%; scroll-snap-align: start;}


.post__comments{min-width: 350px; max-width: 350px; position: relative; border-left: solid 1px #dbdbdb; }
.post__header{width: 100%; height: 60px; background: white; border-bottom: solid 1px #dbdbdb;}
.post-actions-comments{width: 100%; height: calc(100% - 220px);overflow: auto; padding-left: 16px; padding-right: 16px;}
.post-actions-footer{position: absolute; left: 0; right: 0; bottom: 0; border-top: solid 1px #dbdbdb; height: 160px; vertical-align: middle;}



.user-post-action-comment-box{display: flex; margin: 20px 0 10px 0;}
.user-profile-comment{width: 70px; justify-content: center; display: flex;}
.user-profile-comment a {width: 35px; height: 35px;min-width: 35px; min-height: 35px;overflow: hidden; border-radius: 50%; display: block; position: sticky; top: 10px;}
.user-profile-comment a img{width: 100%; height: 100%; object-fit: cover;}
.user-comment{width: calc(100% - 120px);overflow: hidden;}
.user-comment p{font-size: 14px; font-weight: 100; line-height: 18px; margin-top: 7px; }
.like-comment{width: 50px; font-size: 22px;}

.action-buttons{display: inline-block; gap: 5px; margin-top: 14px; gap: 10px; }.action-buttons a{color: #8e8e8e;font-weight: 100; }
.action-button{font-size: 12px; font-weight: 600; color: #8e8e8e;  white-space: nowrap; margin: 5px;} 

.complaint{font-size: 16px; font-weight: bold;}

.post-actions-footer-likes{font-size: 14px; margin-top: 9px; padding-left: 16px; padding-right: 16px;}
.post-actions-footer-likes a{font-weight: bold;}
.post__date-time{margin-bottom: 9px;}

.sH9wk{height: 55px;  margin-top: 20px;}
.RxpZH, .X7cDz{height: 100%; }
.X7cDz{padding-left: 16px;}
.add-comment{padding-top: 0;}

.answer{width: 100%;padding-left: 70px;}

.z666a{padding-top: 48px; border-top: solid 1px #dbdbdb;}


.more_pub_in_user{margin-bottom: 20px; color: #8e8e8e;}
.more_pub_in_user a{color: #262626; font-weight: bold;}

.grid-publications{display: grid;grid-template-columns: 1fr 1fr 1fr; gap: 28px; }
.publication{display: block; background: #f5f5f5; position: relative;}
.publication:before{content: ' ';display: block;padding-top: 100% ;}
.publication-link{position: absolute; left: 0; top: 0; right: 0; bottom: 0;}
.publication-link img{width: 100%; height: 100%; object-fit: cover;}

@media (max-width: 768px){


	main{padding: 0; margin-bottom: 50px;}
	.more_pub_in_user{padding-left: 16px; padding-right: 7px;}
	.grid-publications{gap: 3px; }
}