*{box-sizing: border-box; padding: 0; margin: 0;}
body{background-color: #fafafa;}


main{ margin: 64px auto 0; max-width: 975px; width: 100%; padding: 28px 20px;}



.block-one-grid{
	display: grid; gap: 28px; margin-bottom: 28px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: dense;
}
.grid-link{display:flex; background: orange; position: relative; }
.grid-link:before{content: ' ';display: block;padding-top: 100% ; }


.grid-link:nth-child(9n + 1){
	grid-column: span 2;
	grid-row: span 2;
}

.grid-link{display:flex; background: orange; position: relative; overflow: hidden;}
.grid-link:before{content: ' ';display: block;padding-top: 100% ; }
.BcNgP {
    position: absolute; right: 15px; top: 15px;
}



.hover-box{position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: #00000044; opacity: 0; color: #fff; gap:  22px; display: flex; align-items: center; justify-content: center;}
.grid-link:hover .hover-box{opacity: 1;}
.hover-likes{}
.hover-comments{}
.hover-btns{display: flex; align-items: center; gap: 5px;font-size: 16px; font-weight: bold;}
.search-img{width: 100%; height: 100%;}
.search-img img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.dropdown-content-search{display: none;}

@media (max-width: 768px){
	main{padding: 0;margin-bottom: 48px;}
	.block-one-grid{margin-bottom: 2px;}
	.block-one-grid{
		gap: 2px;
	}
	.grid-link:active{opacity: .8;}
	.hover-box{display: none;}
	.BcNgP {
    position: absolute; right: 5px; top: 5px;
	}
	.BcNgP svg{height: 22px;}
	.dropdown-content-search{
	position: fixed;
	left: 0; top: 44px;right: 0;bottom: 0; background: #fff;z-index: 1000;
	display: none;
}
.close-search{position: absolute;right: 16px; top: -37px; padding-left: 5px; padding-right: 5px; height: 30px; background: unset; border: none; outline: unset; cursor: pointer; font-weight: bold;}
.fixed-search{position: fixed; left: 0; top: 0; right: 0; height: 44px;border-bottom: solid 1px #dbdbdb; padding-left: 16px; padding-right: 16px; display: flex; align-items: center; background: #fff;z-index: 1000;}
	.NcCcD{width: 100%;}
	.NcCcD input{ background-color: rgba(var(--d87,255,255,255),1); outline: none; border: solid 1px #dbdbdb;
line-height: 30px;
padding-left: 22px;padding-right: 22px; border-radius: 6px;color: rgba(var(--i1d,38,38,38),1);-webkit-box-flex: 1;flex-grow: 1;
font-size: 14px;
line-height: 20px;
margin: 0;
overflow: visible;
padding: 4px 12px;color: #262626; transition: .2s;
    padding-left: 12px;}
    .NcCcD input::placeholder{text-align: center;}
    .NcCcD input:focus::placeholder{text-align: left;}
    .activeSearch{width: calc(100% - 60px);}
    .notactive{width: 100%;}

	
	main{padding: 0;margin-bottom: 48px; margin-top: 46px;}
   .showSearch{display: block;}

}

