{% extends 'main/base/__base__.html' %}
{% load static %}
{% load user_tags %}
{% load chat_tags %}
{% load humanize %}
<!-- {% load custom_tags %} -->
<!-- {% load emoji_tags %} -->


    {% block title %}
    direct page
    {% endblock %}
    
    {%  block styles %}
    <link rel="stylesheet" href="{% static 'css/direct.css' %}"> 
    {% endblock %}


{% block content %}
    

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="header-modal">
        <button class="close">
            <svg aria-label="Закрыть" class="_8-yf5 " color="#262626" fill="#262626" height="18" role="img" viewBox="0 0 24 24" width="18"><polyline fill="none" points="20.643 3.357 12 12 3.353 20.647" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></polyline><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" x1="20.649" x2="3.354" y1="20.649" y2="3.354"></line></svg>
        </button>
        <h1>Новое сообщение</h1>
    </div>
    <div class="inputbox-modal">
        <div style="width: 100px; font-weight: bold; text-align: center;">Кому:</div>
        <input type="search" placeholder="Поиск...">
    </div>
    <h2>Рекомендуем</h2>
    <div class="modal-result">
        <button class="tablinks">
            <div class="tab_user_img">
                <img src="https://avatars.mds.yandex.net/get-zen_doc/1641493/pub_5d5d8b7886c4a900ae02c014_5d5d8be6fe289100adb49c1a/scale_1200" alt="">
            </div>
            <div class="tab_user_name">
                Chyngyz Esembekov
            </div>
        </button>
        <button class="tablinks">
            <div class="tab_user_img">
                <img src="https://avatars.mds.yandex.net/i?id=359e83506eec6d66c0e28809a3d012f1-4076581-images-thumbs&n=13" alt="">
            </div>
            <div class="tab_user_name">
                Adilet Malikov
            </div>
        </button>
        <button class="tablinks">
            <div class="tab_user_img">
                <img src="https://avatars.mds.yandex.net/get-zen_doc/1641493/pub_5d5d8b7886c4a900ae02c014_5d5d8be6fe289100adb49c1a/scale_1200" alt="">
            </div>
            <div class="tab_user_name">
                Chyngyz Esembekov
            </div>
        </button>
        <button class="tablinks">
            <div class="tab_user_img">
                <img src="https://avatars.mds.yandex.net/i?id=359e83506eec6d66c0e28809a3d012f1-4076581-images-thumbs&n=13" alt="">
            </div>
            <div class="tab_user_name">
                Adilet Malikov
            </div>
        </button>
        <button class="tablinks">
            <div class="tab_user_img">
                <img src="https://avatars.mds.yandex.net/get-zen_doc/1641493/pub_5d5d8b7886c4a900ae02c014_5d5d8be6fe289100adb49c1a/scale_1200" alt="">
            </div>
            <div class="tab_user_name">
                Chyngyz Esembekov
            </div>
        </button>
        <button class="tablinks">
            <div class="tab_user_img">
                <img src="https://avatars.mds.yandex.net/i?id=359e83506eec6d66c0e28809a3d012f1-4076581-images-thumbs&n=13" alt="">
            </div>
            <div class="tab_user_name">
                Adilet Malikov
            </div>
        </button>
    </div>
  </div>

</div> 


    <main class="container">
        <section class="tab_box tabs">
            <header class="header_tab">
                <a href="#" class="back-main">
                    <svg aria-label="Значок &quot;стрелка вниз&quot;" class="_8-yf5" color="#262626" fill="#262626" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M21 17.502a.997.997 0 01-.707-.293L12 8.913l-8.293 8.296a1 1 0 11-1.414-1.414l9-9.004a1.03 1.03 0 011.414 0l9 9.004A1 1 0 0121 17.502z"></path></svg>
                </a>
                <button class="switching">
                    <span>dcllns</span><svg aria-label="Значок &quot;стрелка вниз&quot;" class="_8-yf5" color="#262626" fill="#262626" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M21 17.502a.997.997 0 01-.707-.293L12 8.913l-8.293 8.296a1 1 0 11-1.414-1.414l9-9.004a1.03 1.03 0 011.414 0l9 9.004A1 1 0 0121 17.502z"></path></svg>
                </button>
                <button class="write-btn" id="myBtn">
                    <svg aria-label="Новое сообщение" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24"><path d="M12.202 3.203H5.25a3 3 0 00-3 3V18.75a3 3 0 003 3h12.547a3 3 0 003-3v-6.952" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path><path d="M10.002 17.226H6.774v-3.228L18.607 2.165a1.417 1.417 0 012.004 0l1.224 1.225a1.417 1.417 0 010 2.004z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="16.848" x2="20.076" y1="3.924" y2="7.153"></line></svg>
                </button>
            </header>
            <div class="tab">
                <div onclick="openDirect(event, 'default')" id="defaultOpen"></div>
                {% for dm_user in user|get_dm_users:send_pm_user %}
                  <button class="tablinks privacy" onclick="openDirect(event, '{{ dm_user.username }}')">
                        <div class="tab_user_img">
                            <img src="{{ dm_user|get_user_photo }}" alt="">
                        </div>
                        <div class="tab_user_name-date">
                            <div class="tab_user_name">
                                {% if dm_user.full_name %}
                                {{ dm_user.full_name }}
                                {% else %}
                                {{ dm_user.username }}
                                {% endif %}
                            </div>
                            <div class="tab_user_date">
                                <span>Последнее сообщение asd asdk asdkla sdkasjd laksdlkj</span><span>1дн.</span>
                            </div>
                        </div>
                  </button>
                  {% endfor %}

                  <button class="tablinks privacy" onclick="openDirect(event, 'common')">
                    <div class="tab_user_img">
                      <img src="{% static 'img/6127863-1591506100354-ac44747b14d85.jpg' %}" alt="">
                    </div>
                    <div class="tab_user_name-date">
                        <div class="tab_user_name">
                            Chatty
                        </div>
                        <div class="tab_user_date">
                            <span>Members online <span class="members-count">{{ common_room.online.count }}</span></span>
                        </div>
                    </div>
              </button>
            </div>
        </section>

        <section class="tabcontent_box audience">
            <div id="default" class="tabcontent">
                <div class="defaultOpen">
                    <div class="box-default">
                        <h3 class="mr18">Ваши сообщения</h3>
                        <p class="mr18">Отправляйте личные сообщения другу.</p>
                        <button class="mr18" id="myBtn">Отправить сообщение</button>
                    </div>
                </div>
            </div>
            {% for dm_user in user|get_dm_users:send_pm_user %}
            <div id="{{ dm_user.username }}" class="tabcontent">
              <header class="header_tabcontent">
                <div class="arrow-back">
                    <svg aria-label="Значок &quot;стрелка вниз&quot;" class="_8-yf5" color="#262626" fill="#262626" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M21 17.502a.997.997 0 01-.707-.293L12 8.913l-8.293 8.296a1 1 0 11-1.414-1.414l9-9.004a1.03 1.03 0 011.414 0l9 9.004A1 1 0 0121 17.502z"></path></svg>
                </div>
                  <a href="#">
                    <div class="message_user_img">
                        <img src="{{ dm_user|get_user_photo }}" alt="">
                    </div>
                    <div class="message_user_name"> 
                        {% if dm_user.full_name %}
                        {{ dm_user.full_name }}
                        {% else %}
                        {{ dm_user.username }}
                        {% endif %}
                    </div>
                  </a>
              </header>
              <div class="messages" id="messages">
                <div class="date-messages"><span>24 январь 2022г.</span></div>
                {% with user as me %}
                {% for message in dm_user|get_dm_messages:me %}
                {% if message.user != me %}
                  <div class="interlocutor message_box" >
                        <div class="interlocutor_img_box">
                            <a href="" class="interlocutor_img">
                                <img src="{{ dm_user|get_user_photo }}" alt="">
                            </a>
                        </div>
                        <div class="interlocutor_message">
                            <div class="message">
                                <p>{{ message.content }}</p>
                                <div class="edit_delete_box">
                                    <button>Нравится</button>
                                    <button>Бесишь</button>
                                </div>
                            </div>
                        </div>
                  </div>
                  {% else %}
                    <div class="my_message message_box">
                        <div class="my_message_right">
                            <div class="message message_right">
                                <div class="edit_delete_box">
                                    <button>Отменить</button>
                                    <button>Редактировать</button>
                                </div>
                                <p>{{ message.content }}</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                {% endwith %}
              </div>
                <div class="chat-form">
                        <input class="chat-form-input" type="text" aria-label="Your message" placeholder="Написать сообщение" required>
                        <button class="chat-form-button pm-message-send-button" type="button">Отправить</button>
                </div>
            </div>
            {% endfor %}
           
            <!-- start of common chat room -->
            <div id="common" class="tabcontent">
                <!-- <div class="chat-members">
                   
                </div> -->
                <header class="header_tabcontent">
                  <div class="arrow-back">
                      <svg aria-label="Значок &quot;стрелка вниз&quot;" class="_8-yf5" color="#262626" fill="#262626" height="20" role="img" viewBox="0 0 24 24" width="20"><path d="M21 17.502a.997.997 0 01-.707-.293L12 8.913l-8.293 8.296a1 1 0 11-1.414-1.414l9-9.004a1.03 1.03 0 011.414 0l9 9.004A1 1 0 0121 17.502z"></path></svg>
                  </div>
                    <a href="#">
                      <div class="message_user_img">
                          <img src="{% static 'img/6127863-1591506100354-ac44747b14d85.jpg' %}">
                      </div>
                      <div class="message_user_name">Chatty</div>
                    </a>
                </header>
                <div class="messages" id="messages">
                  <div class="date-messages"><span>24 январь 2022г.</span></div>
                    {% with user as me %}
                    {% for message in common_room.room_messages.all %}
                    {% if message.user != me %}
                    <div class="interlocutor message_box" >
                          <div class="interlocutor_img_box">
                              <a href="{{ message.user.get_absolute_url }}" class="interlocutor_img">
                                <img src="{{ message.user|get_user_photo }}">
                              </a>
                          </div>
                          <div class="interlocutor_message">
                              <div class="message">
                                  <p>{{ message.content }}</p>
                                  <div class="edit_delete_box">
                                      <button>Нравится</button>
                                      <button>Бесишь</button>
                                  </div>
                              </div>
                          </div>
                    </div>
                    {% else %}
                          <div class="my_message message_box">
                              <div class="my_message_right">
                                  <div class="message message_right">
                                      <div class="edit_delete_box">
                                          <button>Отменить</button>
                                          <button>Редактировать</button>
                                      </div>
                                      <p> {{ message.content }}</p>
                                  </div>
                              </div>
                          </div>
                          {% endif %}
                    {% endfor %}
                    {% endwith %}
                </div>
                  <div class="chat-form">
                          <input class="chat-form-input" id="common_chat_input" type="text" aria-label="Your message" placeholder="Написать сообщение">
                          <button class="chat-form-button" id="common_chat_submit" type="button">Отправить</button>
                  </div>
              </div>
              <!-- end of common room tab content -->
        </section>
    </main>
{% endblock %}
 

{% block scripts %}
<script>
function openDirect(evt, directName) {
    var container = document.querySelector(".container");
    container.classList.add("active");

    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace("active", "");
    }
    document.getElementById(directName).style.display = "block";
    if (directName != 'default'){
        let this_tab = $(`#${directName}`).children('#messages')
        this_tab.scrollTop(this_tab[0].scrollHeight)
    }
  
    // evt.currentTarget.classList.add("active");
}


function defaultTabContent(x) {
    if (x.matches) { // If media query matches
    document.getElementById("default").style.display = "none";
    } else {
    document.getElementById("defaultOpen").click();
    }
}

var x = window.matchMedia("(max-width: 768px)")
defaultTabContent(x) // Call listener function at run time
x.addListener(defaultTabContent) // Attach listener function on state changes


//  modal 
var modal = document.getElementById("myModal");
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
    modal.style.display = "none";
    }
} 
//////////////////


// mobile version close tab contents
const container = document.querySelector(".container");
arrowBack = container.querySelectorAll(".audience .arrow-back");
for (i = 0; i < arrowBack.length; i++) {
    arrowBack[i].onclick = function(){
        container.classList.remove("active");
    };
}
</script>

<script>

$(function(){

    // common chat websocket 
    var url = 'ws://' + window.location.host +
    '/ws/chat/room/' + 'common/';
    var common_chatSocket = new WebSocket(url);
    common_chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var $chat = $('#common > #messages')
        switch (data.type) {
            case "chat_message":
                if(data.user.username != '{{user.username}}'){
                    var message_div = `<div class="interlocutor message_box">
                            <div class="interlocutor_img_box">
                                <a href="" class="interlocutor_img">
                                    <img src="${data.user.image}">
                                </a>
                            </div>
                            <div class="interlocutor_message">
                                <div class="message">
                                    <p>${data.message}</p>
                                    <div class="edit_delete_box">
                                        <button>Нравится</button>
                                        <button>Бесишь</button>
                                    </div>
                                </div>
                            </div>
                        </div>`
                }
                else{
                    var message_div = `<div class="my_message message_box">
                        <div class="my_message_right">
                            <div class="message message_right">
                                <div class="edit_delete_box">
                                    <button>Отменить</button>
                                    <button>Редактировать</button>
                                </div>
                                <p> ${data.message}</p>
                            </div>
                        </div>
                    </div>`
                }
                $chat.append(message_div);
                $chat.scrollTop($chat[0].scrollHeight);
                break;
            case "user_list":
                console.log('user list case')
                // for (let i = 0; i < data.users.length; i++) {
                    // $('#common > .chat-members').append(`<p>${data.users[i]}</p>`)
                // }
                break;
            case "user_join":
                $chat.append(
                    `<div class="my_message message_box">
                    <div class="my_message_right">
                        <div class="message message_right">
                            <div class="edit_delete_box">
                                <button></button>
                                <button></button>
                            </div>
                            <p> ${data.user} joined the room.</p>
                        </div>
                    </div>
                </div>`
                )
                // $('#common > .chat-members').append(`<p>${data.user}</p>`)
                // $('.members-count').text( parseInt($('.members-count').text())++)
                break;
            case "user_leave":
                $chat.append(
                        `<div class="my_message message_box">
                        <div class="my_message_right">
                            <div class="message message_right">
                                <div class="edit_delete_box">
                                    <button></button>
                                    <button></button>
                                </div>
                                <p> ${data.user} left the room.</p>
                            </div>
                        </div>
                    </div>`
                )
                // $('.members-count').text( parseInt($('.members-count').text())--)
                // onlineUsersSelectorRemove(data.user);
                break;
            default:
                console.error("Unknown message type!");
                break;
        }
        
    };
        common_chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
        };
        common_chatSocket.onopen = function(e) {
            console.log("Successfully connected to the WebSocket common room.");
        }
        common_chatSocket.onerror = function(err) {
        console.log("WebSocket encountered an error: " + err.message);
        console.log("Closing the socket.");
        common_chatSocket.close();
        }
        // send message
        var $common_chat_input = $('#common_chat_input');
        var $submit = $('#common_chat_submit');
        $submit.click(function() {
        var message = $common_chat_input.val();
        if(message) {
        // send message in JSON format
        common_chatSocket.send(JSON.stringify({'message': message}));
        // clear input
        $common_chat_input.val('');
        // return focus
        $common_chat_input.focus();
        }
        });

        $common_chat_input.focus();
        $common_chat_input.keyup(function(e) {
        e.preventDefault();
        if (e.which === 13) {
        // submit with enter / return key
        $submit.click();
        }
        });

    // pm websocket
    var url = 'ws://' + window.location.host +
    '/ws/chat/room/private/' + '{{user.username}}/';
    var chatSocket = new WebSocket(url);
    chatSocket.onmessage = function(e) {
    var pm_data = JSON.parse(e.data);

    switch (pm_data.type) {
        case "private_message":
            let send_user = $(`#${pm_data.user.username}`)
            let my_messages_container = send_user.children('#messages')
            let incoming_message = 
            `<div class="interlocutor message_box">
                    <div class="interlocutor_img_box">
                        <a href="" class="interlocutor_img">
                            <img src="${pm_data.user.image}" alt="">
                        </a>
                    </div>
                    <div class="interlocutor_message">
                        <div class="message">
                            <p>${pm_data.message}</p>
                            <div class="edit_delete_box">
                                <button>Нравится</button>
                                <button>Бесишь</button>
                            </div>
                        </div>
                    </div>
            </div>`
            my_messages_container.append(incoming_message)
            my_messages_container.scrollTop(my_messages_container[0].scrollHeight)
            // chatLog.value += "PM from " + data.user + ": " + data.message + "\n";
            break;
        case "private_message_delivered":
            let dm_user = $(`#${pm_data.target}`)
            let messages = dm_user.children('#messages')
            let my_message = 
            `<div class="my_message message_box">
                <div class="my_message_right">
                    <div class="message message_right">
                        <div class="edit_delete_box">
                            <button>Отменить</button>
                            <button>Редактировать</button>
                        </div>
                        <p>${pm_data.message}</p>
                    </div>
                </div>
            </div>`
            messages.append(my_message)
            messages.scrollTop(messages[0].scrollHeight)
            break;
        default:
            console.error("Unknown message type!");
            break;
    }
        
    };
    chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
    };
    chatSocket.onopen = function(e) {
        console.log("Successfully connected to the WebSocket Private messages.");
    }

    // send pm
    var $input = document.querySelectorAll('.pm-message-send-button')
    for (let i = 0; $input.length > i; i++){
        $input[i].previousElementSibling.onkeyup = function(e){
            if (e.which === 13) {
                $input[i].click();
            }
        };
        $input[i].onclick = function(){
            message = $input[i].previousElementSibling.value;
            if (message){
                let username = $input[i].closest('.tabcontent').id;
                message = '/pm ' + username + ' ' + message
                chatSocket.send(JSON.stringify({'message': message}));
                $input[i].previousElementSibling.value = '';
                $input[i].previousElementSibling.focus();
            }
        }
    }

    // open dm user tab
    var dm_username = localStorage.getItem('dm_username')
    if (dm_username){
        openDirect(null, dm_username)
        localStorage.removeItem('dm_username')

    }

});

</script>
{% endblock %}


{% block csrf_ready %}
{% endblock %}
