{% extends "admin/base_site.html" %}
{% load user_tags %}

{% block title %}
 User {{ user.id }} {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url "admin:index" %}">Home</a> &rsaquo;
    <a href="{% url "admin:users_user_changelist" %}">Users</a>
    &rsaquo;
    <a href="{% url "admin:users_user_change" user_detail.id %}">User {{ user_detail.id}} </a>
    &rsaquo; Detail
    </div>
{% endblock %}

{% block content %}
{{ user_detail }}
<style>
    .post__avatar{
        width: 200px;
        height: 200px;
        border-radius: 40%;
    }
</style>
<img class="post__avatar" src="{{ user_detail|get_user_photo }}">
{% endblock %}
